[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts/commit/fd81a96f01cc42ef1c9a5399364968d0e07e9e90
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/core"]
	path = lib/core
	url = https://github.com/lens-protocol/core
	branch = v2
[submodule "lib/madfi-protocol-public"]
	path = lib/madfi-protocol-public
	url = https://github.com/mad-finance/madfi-protocol-public
